@import '../../../assets/variables';

.client-list-component {
  background-color: #f4f5f7;
  min-height: 100vh;
  &__busca-container {
    margin: 0;
  }
  &__busca {
    background-color: #f4f5f7;
    border-radius: 0;
    border-color: $border-color-1;
    border-top: 0;
    border-left: 0;
    padding: 1.5rem;
    font-style: italic;
    font-weight: 600;
    color: $text-color-1;
  }
  &__busca-button {
    background-color: transparent;
    border: 0;
    border-bottom: $border-color-1 1px solid;
    i {
      font-size: .75rem;
    }
  }
  &__list {
    margin: 0;
    list-style: none;
    padding-inline-start: 1.7rem;
    padding-inline-end: 1.7rem;
    color: $text-color-2;
    font-size: 0.9rem;
    li {
      cursor: pointer;
      padding: 1rem 0;
      border-bottom: $border-color-1 1px solid;
      strong {
        color: $text-color-1;
        font-style: italic;
      }
    }
  }
  &__imagem-container {
    position: relative;
    padding: 4rem 0;
    font-style: italic;
    text-align: center;
    i {
      cursor: pointer;
      position: absolute;
      top: calc(50% - 1.7em);
      left: calc(50% - 6.5rem);
      transform: translate(-50%, -50%);
    }
    h1 {
      color: $text-color-1;
      font-size: 1rem;
      font-weight: 600;
      margin: 1.5rem 0 0 0;
    }
    span {
      display: block;
      color: $text-color-2;
      font-size: 0.9rem;
    }
  }
  &__imagem-perfil {
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content;
    width: max-content;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
  }
  &__client-details {
    padding: 0 1rem;
    dl {
      padding: 1rem 0;
      margin: 0;
      font-size: .8rem;
      border-top: $border-color-1 1px solid;
      dt {
        text-transform: uppercase;
        color: $text-color-1;
        font-size: 0.75rem;
      }
      dd {
        color: $text-color-2;
      }
    }
  }
  .alert {
    position: absolute;
    z-index: 9;
  }
}
