<div class="client-list-component">
  <div *ngFor="let message of messages" class="alert alert-danger">{{message}}</div>
  <div [class.d-none]="clientService.activeClient">
    <div class="row client-list-component__busca-container">
      <input class="form-control col-10 client-list-component__busca" id="busca" type="text" placeholder="Digite um nome..." [(ngModel)]="busca" (input)="filterClient()">
      <button class="col-2 client-list-component__busca-button"><i class="fas fa-search"></i></button>
    </div>
    <ul class="client-list-component__list">
      <li *ngFor="let client of clientListFiltered" (click)="selectClient(client.codigo)">
        {{client.email}}<br/>
        <strong>{{client.nome}}</strong><br/>
        {{client.cpf}}
      </li>
    </ul>
  </div>
  <div *ngIf="clientService.activeClient" class="client-list-component__client-details">
    <div class="client-list-component__imagem-container">
      <i (click)="unselectClient()" class="fas fa-arrow-left"></i>
      <div class="client-list-component__imagem-perfil">
        <img [src]="clientService.activeClient.thumb" alt="Foto cliente"/>
      </div>
      <h1>{{clientService.activeClient.nome}}</h1>
      <span>CPF: {{clientService.activeClient.cpf}}. Cód: {{clientService.activeClient.codigo}}</span>
    </div>
    <dl>
      <dt>Observações importantes</dt>
      <dd>{{clientService.activeClient.obs}}</dd>
    </dl>
    <dl>
      <dt>E-mail</dt>
      <dd>{{clientService.activeClient.email}}</dd>
    </dl>
    <dl>
      <dt>Telefone</dt>
      <dd>+{{clientService.activeClient.telefone.pais}} {{clientService.activeClient.telefone.area}} {{clientService.activeClient.telefone.numero}}</dd>
    </dl>
    <dl>
      <dt>Endereço</dt>
      <dd>
        {{clientService.activeClient.endereco.tipo}} {{clientService.activeClient.endereco.logradouro}}, {{clientService.activeClient.endereco.numero}} - {{clientService.activeClient.endereco.bairro}}<br/>
        {{clientService.activeClient.endereco.cidade}} - {{clientService.activeClient.endereco.Estado}}
      </dd>
    </dl>
  </div>
</div>