<div class="transacoes-component">
  <div class="transacoes-component__pontos">
      <div>Saldo<span>{{getValorMoeda(clientPontos.saldo)}}</span></div>
      <div>Histórico<span>{{getValorMoeda(clientPontos.total)}}</span></div>
      <div>Utilizados<span>{{getValorMoeda(clientPontos.utilizados)}}</span></div>
      <div>Perdidos<span>{{getValorMoeda(clientPontos.expirados)}}</span></div>
  </div>
  <div class="transacoes-component__adicionar container">
    <h2>Adicionar nota</h2>
    <form #form="ngForm" (ngSubmit)="adicionaNota(form)" novalidate>
      <div class="form-group row">
        <div class="col-12">
          <label for="loja">Loja</label>
          <input ngModel type="text" class="form-control" id="loja" name="loja" placeholder="Razão social, nome fantasia ou CNPJ" [attr.disabled]="clientService.activeClient ? null : ''" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3 col-lg-2">
          <label for="numero">No da nota</label>
          <input ngModel type="number" class="form-control" id="numero" name="numero" placeholder="---" [attr.disabled]="clientService.activeClient ? null : ''" required>
        </div>
        <div class="col-3 col-lg-2">
          <label for="data">Data da nota</label>
          <input ngModel type="date" class="form-control" id="data" name="data" placeholder="dd/mm/aaaa" [attr.disabled]="clientService.activeClient ? null : ''" required>
        </div>
        <div class="col-4 col-lg-6">
          <label for="formaPagamento">Forma de pagamento</label>
          <select ngModel class="form-control" id="formaPagamento" name="formaPagamento" [attr.disabled]="clientService.activeClient ? null : ''" required>
            <option value="Boleto">Boleto</option>
            <option value="Cartão de crédito">Cartão de crédito</option>
          </select>
        </div>
        <div class="col-2 col-lg-2">
          <label for="valor">Valor</label>
          <input ngModel currencyMask type="text" class="form-control" id="valor" name="valor" placeholder="R$---" [attr.disabled]="clientService.activeClient ? null : ''" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <button class="btn transacoes-component__btn-confirma" [attr.disabled]="form.valid ? null : ''">Adicionar</button>
          <button class="btn transacoes-component__btn-cancela" (click)="limpaCamposNota($event, form)">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="transacoes-component__cadastrar container">
    <h2>Cadastrar notas</h2>
    <span class="text-muted">Você precisa confirmar o cadastro dessa lista de notas</span>
    <table class="table">
      <thead>
        <tr>
          <th>Loja</th>
          <th>No da nota</th>
          <th>Data da nota</th>
          <th>Cadastro</th>
          <th>Valor</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nota of notas; let i = index">
          <td>{{nota.loja}}</td>
          <td>{{nota.numero}}</td>
          <td>{{nota.data | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>{{nota.cadastro | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>R$ {{getValorMoeda(nota.valor)}}</td>
          <td><span *ngIf="exibeBotaoExcluirProp === i" class="alert alert-primary" (click)="excluirNota(nota)">Excluir</span></td>
          <td><i (click)="exibeBotaoExcluir(i)" class="fas fa-ellipsis-v"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="container">
        <button class="btn transacoes-component__btn-confirma" [class.d-none]="notas.length === 0" (click)="cadastraNotas()">Cadastrar</button>
        <button class="btn transacoes-component__btn-cancela" [class.d-none]="notas.length === 0" (click)="limpaNotas()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
