@import '../../../assets/variables';

.transacoes-component {
  h2 {
    font-style: italic;
    color: $text-color-1;
    font-size: 1rem;
    font-weight: 600;
  }
  .container {
    margin-left: 0;
  }
  &__pontos {
    border-bottom: $border-color-1 1px solid;
    div {
      display: inline-block;
      font-size: 0.8rem;
      color: $text-color-2;
      padding: 0.5rem 1.1rem;
      span {
        display: block;
        font-weight: 700;
        font-size: 1rem;
        font-style: italic;
        color: $text-color-1;
      }
    }
  }
  &__adicionar {
    margin-top: 3rem;
    label {
      text-transform: uppercase;
      color: $text-color-1;
      font-size: 0.7rem;
      font-weight: 700;
    }
    input,
    select {
      border-right: none;
      border-left: none;
      border-top: none;
      border-radius: 0;
      font-size: 0.9rem;
    }
  }
  &__cadastrar {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: $text-color-2;
    .alert {
      position: absolute;
      padding: 0 0.3rem;
      cursor: pointer;
      float: right;
    }
    .fas {
      margin-left: 5px;
      cursor: pointer;
    }
    table {
      margin-top: 10px;
      thead {
        background-color: #f4f5f7;
        text-transform: uppercase;
        color: $text-color-1;
        font-size: 0.7rem;
        font-weight: 700;
        tr {
          th {
            border: 0;
          }
        }
      }
    }
  }
  &__btn-confirma {
    background-color: #45cffe;
    color: #ffffff;
    font-weight: 700;
    float: right;
  }
  &__btn-cancela {
    background-color: white;
    border: $border-color-1 1px solid;
    color: $text-color-2;
    float: right;
    margin-right: 8px;
  }
}
