<div class="app-component row">
  <div class="app-component__left-content col-sm-4 col-lg-3">
    <app-client-list></app-client-list>
  </div>
  <div class="app-component__right-content col-sm-8 col-lg-9">
    <h1 class="app-component__titulo">Fidelidade</h1>
    <nav class="app-component__menu">
      <ul>
        <li>
          <a [class.active]="route.url === '/' || route.url === '/transacoes'" href="#/transacoes">Transações</a>
        </li>
        <li>
          <a [class.active]="route.url === '/beneficios'" href="#/beneficios">Benefícios</a>
        </li>
        <li>
          <a [class.active]="route.url === '/historico'" href="#/historico">Histórico</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>  
</div>
