@import '../assets/variables';

.app-component {
  padding: 0;
  margin: 0;
  &__titulo {
    font-size: 1rem;
    font-weight: 600;
    color: $text-color-1;
    border-bottom: $border-color-1 1px solid;
    padding: 0.9rem;
  }
  &__menu {
    ul {
      list-style: none;
      padding-inline-start: 0.3rem;
      border-bottom: $border-color-1 1px solid;
      margin-bottom: 0;
      li {
        display: inline;
        a {
          display: inline-block;
          color: $text-color-1;
          font-size: 0.8rem;
          padding: 0 0.7rem 0.75em 0.7rem;
          text-transform: uppercase;
          &.active {
            font-weight: 700;
            border-bottom: #45cffe 3px solid;
          }
          &:hover {
            text-decoration: none;
            border-bottom: #45cffe 3px solid;
          }
        }
      }
    }
  }
  &__left-content {
    padding: 0;
    margin: 0;
  }
  &__right-content {
    margin: 0;
    padding: 0;
  }
}
